button {
  cursor: pointer;
  background-color: #ECD69C;
  color: #60282C;
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

button:hover {
  transition: 0.4s;
  background-color: #f2cd6f;
  color: #77292f;
}

.tag-btn {
  cursor: pointer;
  background-color: #562312;
  color: #f2cd6f;
  padding: 5px 8px;
  margin-right: 6px;
}

.tag-btn:hover {
  background-color: #60282C;
  color: hsl(45, 100%, 96%);
}

.text-cont {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  min-height: 60vh;
}

.about {
  max-width: 1000px;
}

.about img {
  height: 200px;
  width: auto;
}

.text-cont.types {
  max-width: 1500px;
}

.text-cont.types > div {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.text-cont.types .recipe-card {
  height: 400px;
}

table {
  color: #60282C;
  border: #60282C 2px solid;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: #60282C 1px solid;
  padding: 4px 6px;
}


#docs {
  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}
