.text-cont.individual-recipe-page {
    max-width: 1200px;
    margin-top: 30px;
}

.individual-recipe-page h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 26px;
}

.main-img {
    height: 400px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.individual-recipe-page img {
  width: 100%;
}

.two-col {
    display: flex;
    justify-content: center;
}

.two-col div {
    max-width: 550px;
    min-width: 400px;
}

.two-col div:first-child {
    border-right: 1px #562312 solid;
    padding-right: 10px;
}

.two-col h4 {
    text-align: center;
}

ol li {
    margin-bottom: 14px;
}

.comments-section {
    margin-top: 40px;
}

.images-row {
    display: flex;
    flex-direction: row;
    height: 400px;
    max-height: 400px;
    gap: 8px;
    overflow: hidden;
}

.images-row img {
    height: 100%;
    width: auto;
}

#titleTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.button-span button {
    display: inline;
    font-size: 24px;
    background: none;
}

.button-span button:hover {
    background: none;
}

#commentForm {
    margin: 10px 0;
}

#commentForm div {
    display: flex;
    justify-content: space-between;
}

#commentText {
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    min-height: 50px;
    resize: none;
}

#submitComment {
    height: 58px;
}

@media screen and (max-width: 800px) {
    .two-col {
        flex-direction: column;
    }

    .two-col div:first-child {
        border: none;
    }

    #commentForm div {
        flex-direction: column;
    }
}
