#searchbar {
    width: 100%;
    border: none;
    border-bottom: 2px #562312 solid;
    padding: 14px;
    font-size: 18px;
}

.text-cont.search h2 {
    text-align: center;
    margin-top: 30px;
}

.results {
    display: flex;
    flex-direction: row;
    max-height: 600px;
    gap: 10px;
}

.search-bottom {
    display: flex;
    margin-top: 24px;
    gap: 24px;
    overflow-y: scroll;
}

.filters {
    min-width: 300px;
    background-color: #e7bc84;
    padding: 5px 10px;
}

#allergyFilter {
    border-top: black solid 1px;
}

#allergyFilter label, #difficultyFilter label {
    display: block;
    margin-bottom: 6px;
}

#resultsDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    padding-left: 20px;
}

#resultsDiv .recipe-card {
    height: 350px;
}

@media screen and (max-width: 800px) {
    .results {
        flex-direction: column;
    }

    .filters {
       
    }

    .search-bottom {
        overflow-y: auto;
    }

    #allergyFilter h3, #difficultyFilter h3 {
        width: 100%;
    }

    #allergyFilter, #difficultyFilter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #allergyFilter label, #difficultyFilter label {
        margin-right: 4px;
    }
}
