#searchbar {
    width: 100%;
    border: none;
    border-bottom: 2px #562312 solid;
    padding: 14px;
    font-size: 18px;
}

.text-cont.search h2 {
    text-align: center;
    margin-top: 30px;
}

.results {
    display: flex;
    flex-direction: row;
    max-height: 600px;
}

.search-bottom {
    display: flex;
    margin-top: 24px;
    gap: 24px;
    overflow-y: scroll;
}

.filters {
    min-width: 300px;
    background-color: #e7bc84;
    padding: 5px 10px;
}

#allergyFilter {
    border-top: black solid 1px;
}

#allergyFilter label {
    display: block;
    margin-bottom: 6px;
}

#resultsDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
}

#resultsDiv .recipe-card {
    height: 350px;
}

@media screen and (max-width: 800px) {
    .filters {
        display: none;
    }
}
